.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100% !important;
}

.form-input {
  width: 700px !important;
}

.menu-nav {

}

.left-side, .right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: solid 2px #2BAE8F;

  height: 240px;
}
