.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100% !important;
}

.form-input {
  width: 700px !important;
}

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 50px;
}

.menu-container {
  display: flex;
  gap: 50px;
}

.left-side, .right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: solid 2px #2BAE8F;

  height: 372px;
  width: 296px;
}

.left-side {
  animation: fadeFall 2.5s ease-out forwards;
}

.menu-icon {
  color: #2BAE8F;
  font-size: 32px;
}

.right-side {
  animation: fadeRise 2.5s ease-out forwards;
}

.welcome-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}

.chat-input-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  margin-bottom: 10px;
}
