#pera-landing {
  height: 420px;
  width: 480px;

  border-radius: 72px;

  animation: fadeRise 2s ease-out forwards;
//   animation: greenGlow 2s ease-out forwards;
}

#pera-logo {
  height: 52px;
  width: 124px;
}
