#pera-landing {
  height: 420px;
  width: 640px;

  margin-left: -120px;
  animation: fadeRise 2s ease-out forwards;
}

#pera-logo {
  height: 52px;
  width: 124px;
}

#pera-chat {
  height: 72px;
  margin-bottom: -32px;

  animation: bounce 2s ease-in-out infinite;
}
