.dash-card {
  border: 3px solid #2BAE8F;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 280px;
}

.conv-link a:hover {
  color: #2BAE8F !important;
}
