.landing-title {
  animation-name: fadeFall;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.landing-text {
  animation-name: fadeRise;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.button-container {
  animation-name: fadeSwipe;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.landing-right {
  animation-name: fadeFall, bounce;
  animation-duration: 2s, 3.5s;
  animation-iteration-count: 1, infinite;
  animation-timing-function: ease-out, ease-in-out;
  animation-fill-mode: forwards, none;
  opacity: 0;
}

.user-details-input:focus {
  outline: none !important;
  border: solid 3px rgb(43, 174, 143) !important;
  box-shadow: 0 0 0 1px rgba(43, 174, 143, 0.25) !important;
}
