.user-message {
  background-color: #2BAE8F !important;
  color:#EBFFFA;

  font-size: 16px;
}

.response {
  scroll-margin-top: 50px;
}

.assistant-message > h3,
.assistant-message > h2,
.assistant-message > h1 {
  color: #2BAE8F;
}

#chat-input {
  width: 700px;
  align-items: center;

  animation: greenGlow 3.5s ease-in-out;
}

#chat-input:focus {
  outline: none !important;
  border: solid 3px rgb(43, 174, 143) !important;
  box-shadow: 0 0 0 1px rgba(43, 174, 143, 0.25) !important;
}

li > a {
  text-decoration: none !important;
}

li > a:hover {
  color: #2BAE8F !important;
}

#load-icon {
  font-size: 44px;

  color: #2BAE8F;
}
