@keyframes fadeFall {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeRise {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSwipe {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes greenGlow {

  0% {
    box-shadow: 0 0 0 0 #2BAE8F;
  }

  50% {
    box-shadow: 0 0 20px 12px #2BAE8F;
  }

  100% {
    box-shadow: 0 0 0 0 #2BAE8F;
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

// delays here

.play-1 { animation-delay: 0.5s; }
.play-2 { animation-delay: 2s; }
.play-3 { animation-delay: 3s; }
.play-4 { animation-delay: 5s; }
