#landing-title {
  animation: fadeFall 2s ease-out forwards;
}

@keyframes fadeFall {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#landing-text {
  animation: fadeRise 2s ease-out forwards;
}

@keyframes fadeRise {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.button-container {
  animation: fadeSwipe 2s ease-out forwards;
}

@keyframes fadeSwipe {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
