.pera-btn {
  cursor: pointer;

  background-color: #2BAE8F;

  transition: 0.5s ease-in-out;
}

.pera-btn:hover {
  background-color: #7CDEC8;

  color: #EBFFFA;
}

input[type="checkbox"].pera-check:checked {
  background-color: #2BAE8F !important;
  border-color: #2BAE8F !important;
}

.pera-text {
  color: #2BAE8F;
}
