// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "components/navbar";
@import "config/darkmode";

@import "pages/enteruser";
@import "pages/messages";
@import "config/containers";

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  background-color: #F6F7F7;
}

.main {
  flex:1
}
