// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials

// Components
@import "components/index";
@import "components/navbar";
@import "components/animations";
@import "components/flashcard";
@import "components/deck";
@import "components/modal";

// Config
@import "config/darkmode";
@import "config/containers";
@import "config/images";

// Pages
@import "pages/index";
@import "pages/messages";
@import "pages/dashboard";
@import "pages/landing";


body {
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  background-color: #F6F7F7;
}

.main {
  // display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
